<div class="row">
  <div class="col l6 push-l3">
    <form (ngSubmit)="onSubmit(modelPost.value)" #modelPost="ngForm">
      <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        <input ngModel type="text" name="username" value="" id="username" />
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input ngModel type="text" name="email" value="" id="email" />
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input ngModel type="text" name="password" value="" id="password" />
        <label for="password">Password</label>
      </div>
      <div class="col s12">
        <button type="submit" class="btn waves-effect waves-light right">
          save
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
