<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">{{title}}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="">
          <i class="material-icons">home</i>
          <span>Home</span>
        </a>
      </li>

      <li>
        <a routerLink="cadastro">
          <i class="material-icons">edit</i>
          <span>Cadastro</span>
        </a>
      </li>
      <li>
        <a routerLink="login">
          <i class="material-icons">login</i>
          <span>Login</span>
        </a>
      </li>
      <li>
        <a routerLink="sobre">
          <i class="material-icons">book</i>
          <span>Sobre</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="">
      <i class="material-icons">home</i>
      <span>Home</span>
    </a>
  </li>

  <li>
    <a routerLink="cadastro">
      <i class="material-icons">edit</i>
      <span>Cadastro</span>
    </a>
  </li>
  <li>
    <a routerLink="login">
      <i class="material-icons">login</i>
      <span>Login</span>
    </a>
  </li>
  <li>
    <a routerLink="sobre">
      <i class="material-icons">book</i>
      <span>Sobre</span>
    </a>
  </li>
</ul>
